@import url("./fonts.css");

* {
  margin: 0;
}

.page {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.welcome {
  min-height: 100vh;
  background: url(../images/background.svg);
  padding: 50px 105px 120px 105px;
}

.menu {
  width: 1232px;
  height: 46px;
  display: inline-flex;
}

a {
  padding-top: 6px;
  padding-bottom: 12px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #ffffff;
}

.smallbar {
  width: 50px;
  height: 0;
  margin: auto;
  border: 2px solid #f5bd41;
  margin-top: 12px;
}

.link-1 {
  margin-left: 685px;
}

.link-2 {
  margin-left: 24px;
}

.logo {
  width: 205px;
  height: 40px;
  background-image: url(../images/sprite.png);
}

.day-night {
  width: 30px;
  background-image: url(../images/sprite.png);
  background-position-x: -209px;
  margin-left: 48px;
}

.login {
  width: 40px;
  background-image: url(../images/sprite.png);
  background-position-x: -245px;
  background-position-y: 0;
  height: 40px;
  margin-left: 24px;
}
.search {
  width: 1230px;
  margin-top: 202px;
  margin-bottom: 120px;
}

.form {
  display: flex;
  margin-top: 24px;
}

.form input,
button {
  border-radius: 8px;
  border-style: hidden;
}

.form input {
  height: 64px;
  border: 3px solid #f3f3f4;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding-left: 24px;
}

input::placeholder {
  color: #383838;
}

.form .first {
  width: 465px;
}

.form .second {
  width: 259px;
  border: 3px solid #f5bd41;
  margin-left: -45px;
}
.form .third {
  width: 315px;
}

.form-title-1,
.form-title-2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 100px;
  color: #ffffff;
}

.form-title-1 {
  margin-left: 24px;
  width: 264px;
  height: 21px;
}

.form-title-2 {
  margin-left: 221px;
  width: 173px;
  height: 21px;
}

.form button {
  width: 192px;
  margin-left: -50px;
  background: #3077c6;
  height: 72px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #ffffff;
}

.discover {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  margin-bottom: 100px;
  color: #ffffff;
}

.download {
  display: flex;
}

.ios {
  background-image: url(../images/sprite.png);
  width: 121px;
  height: 40px;
  background-position-x: 121px;
  margin-left: 16px;
}

.android {
  background-image: url(../images/sprite.png);
  width: 135px;
  height: 40px;
  background-position-x: 255px;
  margin-left: 480px;
}

.offers {
  text-align: center;
}

.title {
  height: 45px;
  width: 305px;
  margin: 120px auto 0;
}

.title-offer {
  color: #383838;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 20px;
}
.bar {
  width: 100px;
  height: 4px;
  background-color: #f5bd41;
  margin: auto;
  border-style: hidden;
}

.offers .icons {
  box-sizing: border-box;
  width: 300px;
  height: 180px;
  display: inline-block;
  text-align: center;
  margin: 80px auto 120px;
}

.icons {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #383838;
  margin: auto;
}

.offers img {
  height: 100px;
  width: 100px;
}

.footer {
  background-color: #10367c;
  height: 625px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: white;
}
.container {
  padding: 120px 272px 64px 105px;
  width: 1064px;
  display: flex;
}

.container .property-type,
.about,
.support {
  padding-top: 0;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer ul .header {
  font-weight: 500;
}

.footer li {
  margin-bottom: 24px;
}

.about {
  width: 193px;
  height: 211px;
}
.about ul {
  width: 193px;
  height: 211px;
}

.property-type {
  margin-left: 223px;
  width: 133px;
  height: 305px;
}

.property-type ul {
  width: 133px;
  height: 305px;
}

.support {
  width: 232px;
  height: 117px;
  margin-left: 285px;
}
.support ul {
  width: 232px;
  height: 117px;
}
.rights {
  margin-bottom: 120px;
  margin-left: 105px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
