@import url("./fonts.css");

:root {
  --bar-color: #f5bd41;
  --footer-color: #10367c;
  --icon-text-color: #383838;
  --col-width: calc(100% / 12);
}

* {
  margin: 0;
}

.page {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.col-lg-1 {
  width: var(--col-width);
}
.col-lg-2 {
  width: calc(var(--col-width) * 2);
}
.col-lg-3 {
  width: calc(var(--col-width) * 3);
}
.col-lg-4 {
  width: calc(var(--col-width) * 4);
}
.col-lg-5 {
  width: calc(var(--col-width) * 5);
}
.col-lg-6 {
  width: calc(var(--col-width) * 6);
}
.col-lg-7 {
  width: calc(var(--col-width) * 7);
}
.col-lg-8 {
  width: calc(var(--col-width) * 8);
}
.col-lg-9 {
  width: calc(var(--col-width) * 9);
}
.col-lg-10 {
  width: calc(var(--col-width) * 10);
}
.col-lg-11 {
  width: calc(var(--col-width) * 11);
}
.col-lg-12 {
  width: calc(var(--col-width) * 12);
}
.welcome {
  /*display: none;*/
  min-height: 100vh;
  background: url(../images/background.svg);
  padding: 50px 105px 120px 105px;
}
.svg-sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.welcome__menu {
  width: 1232px;
  height: 46px;
  display: inline-flex;
}

.welcome a {
  padding-top: 6px;
  padding-bottom: 12px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #ffffff;
}

.welcome__menu--smallbar {
  width: 50px;
  height: 0;
  margin: auto;
  border: 2px solid var(--bar-color);
  margin-top: 12px;
}

.welcome__menu--stays {
  margin-left: 685px;
}

.welcome__menu--attractions {
  margin-left: 24px;
}

.welcome__menu--logo svg {
  width: 205px;
  height: 40px;
}

.welcome__menu--hamburger svg {
  display: none;
}

.welcome__menu--day-night svg {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 48px;
}

.welcome__menu--login svg {
  width: 40px;
  height: 40px;
  margin-left: 24px;
}
.welcome__search {
  width: 1230px;
  margin-top: 202px;
  margin-bottom: 120px;
}
.welcome__search--discover {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  margin-bottom: 100px;
  color: #ffffff;
}

.welcome__search--form {
  display: flex;
  margin-top: 24px;
}

.welcome__search--form input,
button {
  border-radius: 8px;
  border-style: hidden;
}

.welcome__search--form input {
  height: 64px;
  border: 3px solid white;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding-left: 24px;
  width: 115px;
  border-radius: 0;
}

.welcome__search input::placeholder {
  color: #383838;
}

.welcome__search--form .first {
  width: 465px;
  background-image: url(../images/loupe.svg);
  background-repeat: no-repeat;
  background-position: 5px 1rem;
}

/*
.welcome__search--form .second {
  width: 259px;
  border: 3px solid var(--bar-color);
  margin-left: -45px;
}*/

.welcome__search--form .second {
  width: 480px;
  border: 3px solid var(--bar-color);
  margin-left: -45px;
  display: flex;
  margin-top: -3px;
}

.welcome__search--form .third {
  width: 315px;
}

.welcome__search--form-destination,
.welcome__search--form-dates {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 100px;
  color: #ffffff;
}

.welcome__search--form-destination {
  margin-left: 24px;
  width: 264px;
  height: 21px;
}

.welcome__search--form-dates {
  margin-left: 221px;
  width: 173px;
  height: 21px;
}

.welcome__search--form button {
  width: 192px;
  margin-left: -50px;
  background: #3077c6;
  height: 72px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #ffffff;
}

.welcome__download {
  display: flex;
}

.welcome__download--ios svg {
  width: 121px;
  height: 40px;
  margin-left: 16px;
}

.welcome__download--android svg {
  width: 135px;
  height: 40px;
  margin-left: 480px;
}

.offers {
  text-align: center;
}

.offers__title {
  height: 45px;
  width: 305px;
  margin: 120px auto 0;
}

.offers__title--name {
  color: #383838;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 20px;
}
.offers__title--bar {
  width: 100px;
  height: 4px;
  background-color: var(--bar-color);
  margin: auto;
  border-style: hidden;
}

.offers__icons {
  box-sizing: border-box;
  width: 300px;
  height: 180px;
  display: inline-block;
  text-align: center;
  margin: 80px auto 120px;
}

.offers__icons--name {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: var(--icon-text-color);
  margin: auto;
}

.offers__icons svg {
  max-height: 100px;
  max-width: 100px;

  aspect-ratio: 1/1;
}

.footer {
  background-color: var(--footer-color);
  height: 625px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: white;
}
.container {
  padding: 120px 272px 64px 105px;
  width: 1064px;
  display: flex;
}

.container__property,
.container__about,
.container__support {
  padding-top: 0;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container__about--listheader,
.container__property--listheader,
.container__support--listheader {
  font-weight: 500;
}

.footer li {
  margin-bottom: 24px;
}

.container__about {
  width: 193px;
  height: 211px;
}
.container__about ul {
  width: 193px;
  height: 211px;
}

.container__property {
  margin-left: 223px;
  width: 133px;
  height: 305px;
}

.container__property ul {
  width: 133px;
  height: 305px;
}

.container__support {
  width: 232px;
  height: 117px;
  margin-left: 285px;
}
.container__support ul {
  width: 232px;
  height: 117px;
}
.container__rights {
  margin-bottom: 120px;
  margin-left: 105px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
.container__mlogo svg {
  display: none;
}

@media (max-width: 1024px) {
  .col-md-1 {
    width: var(--col-width);
  }
  .col-md-2 {
    width: calc(var(--col-width) * 2);
  }
  .col-md-3 {
    width: calc(var(--col-width) * 3);
  }
  .col-md-4 {
    width: calc(var(--col-width) * 4);
  }
  .col-md-5 {
    width: calc(var(--col-width) * 5);
  }
  .col-md-6 {
    width: calc(var(--col-width) * 6);
  }
  .col-md-7 {
    width: calc(var(--col-width) * 7);
  }
  .col-md-8 {
    width: calc(var(--col-width) * 8);
  }
  .col-md-9 {
    width: calc(var(--col-width) * 9);
  }
  .col-md-10 {
    width: calc(var(--col-width) * 10);
  }
  .col-md-11 {
    width: calc(var(--col-width) * 11);
  }
  .col-md-12 {
    width: calc(var(--col-width) * 12);
  }

  .container__property {
    margin-left: calc(223px / 2);
  }
  .container__support {
    margin-left: calc(285px / 2);
  }
  .offers__icons {
    margin: 90px auto 25px;
  }

  .welcome {
    width: 1024px;
    height: 533px;
    padding: 12px 16px 0 16px;
    min-height: 90vh;
  }

  .welcome__menu {
    width: 24px;
  }

  .welcome__menu--day-night svg {
    margin-left: 620px;
  }

  .welcome__search {
    margin-top: 41px;
    height: 260px;
  }

  .welcome__menu--hamburger svg {
    display: block;
    width: 40px;
    height: 30px;
    margin-left: 30px;
    margin-top: 5px;
  }
  .welcome__search--form .second {
    display: flex;
    margin-left: 0;
    border: none;
  }

  .second .checkin,
  .second .checkout {
    width: 447px;
    height: 48px;
  }

  .second div:nth-child(2) {
    margin-left: 8px;
  }

  .welcome__search--form input {
    padding-left: 30px;
    border-radius: 8px;
  }

  .welcome__search--discover {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 41px;
    line-height: 35px;
    margin-bottom: 41px;
  }

  .welcome__search {
    margin-top: 105px;
    height: 260px;
  }

  .welcome__search span {
    display: none;
  }

  .welcome__search--form .first {
    width: 940px;
    height: 48px;
    margin: 8px 8px 10px 8px;
  }

  .welcome__search--form .second {
    margin-left: 8px;
  }

  .welcome__search--form .third {
    width: 940px;
    height: 48px;
    margin: 8px 8px 8px 8px;
  }

  .welcome__search--form button {
    width: 978px;
    margin-left: 8px;
    margin-bottom: 8px;
  }

  .welcome__search--form {
    display: block;
    background-color: #f5bd41;
    width: 995px;
  }
  .welcome__download--android svg {
    width: 135px;
    height: 40px;
    margin-left: 355px;
  }

  .welcome__download--ios svg,
  .welcome__download--android svg {
    margin-top: 141px;
  }

  .welcome__menu--stays,
  .welcome__menu--attractions {
    display: none;
  }
}
@media (max-width: 768px) {
  .col-sd-1 {
    width: var(--col-width);
  }
  .col-sd-2 {
    width: calc(var(--col-width) * 2);
  }
  .col-sd-3 {
    width: calc(var(--col-width) * 3);
  }
  .col-sd-4 {
    width: calc(var(--col-width) * 4);
  }
  .col-sd-5 {
    width: calc(var(--col-width) * 5);
  }
  .col-sd-6 {
    width: calc(var(--col-width) * 6);
  }
  .col-sd-7 {
    width: calc(var(--col-width) * 7);
  }
  .col-sd-8 {
    width: calc(var(--col-width) * 8);
  }
  .col-sd-9 {
    width: calc(var(--col-width) * 9);
  }
  .col-sd-10 {
    width: calc(var(--col-width) * 10);
  }
  .col-sd-11 {
    width: calc(var(--col-width) * 11);
  }
  .col-sd-12 {
    width: calc(var(--col-width) * 12);
  }

  .container__property {
    margin-left: calc(223px / 1.5);
  }
  .container__support {
    margin-left: calc(285px / 2.5);
  }
  .offers__icons {
    margin: 90px auto 25px;
  }

  .container {
    padding: 60px 132px 32px 55px;
  }

  .container__rights {
    margin-bottom: 60px;
    margin-left: 50px;
  }

  .welcome {
    width: 768px;
    height: 533px;
    padding: 12px 16px 0 16px;
    min-height: 90vh;
  }

  .welcome__menu--day-night svg {
    margin-left: 365px;
  }

  .welcome__search {
    margin-top: 41px;
    height: 260px;
  }

  .welcome__menu--hamburger svg {
    display: block;
    width: 40px;
    height: 30px;
    margin-left: 30px;
    margin-top: 5px;
  }
  .welcome__search--form .second {
    display: flex;
    margin-left: 0;
    border: none;
  }

  .second .checkin,
  .second .checkout {
    width: 317px;
    height: 48px;
  }

  .second div:nth-child(2) {
    margin-left: 8px;
  }

  .welcome__search--form input {
    padding-left: 30px;
    border-radius: 8px;
  }

  .welcome__search--discover {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 41px;
    line-height: 35px;
    margin-bottom: 50px;
  }

  .welcome__search {
    height: 260px;
  }

  .welcome__search span {
    display: none;
  }

  .welcome__search--form .first {
    width: 681px;
    height: 48px;
    margin: 8px 8px 10px 8px;
  }

  .welcome__search--form .second {
    margin-left: 8px;
  }

  .welcome__search--form .third {
    width: 681px;
    height: 48px;
    margin: 8px 8px 8px 8px;
  }

  .welcome__search--form button {
    width: 719px;
    margin-left: 8px;
    margin-bottom: 8px;
  }

  .welcome__search--form {
    display: block;
    background-color: #f5bd41;
    width: 737px;
  }
  .welcome__download--android svg {
    width: 135px;
    height: 40px;
    margin-left: 229px;
  }

  .welcome__download--ios svg,
  .welcome__download--android svg {
    margin-top: 141px;
  }

  .welcome__menu--stays,
  .welcome__menu--attractions {
    display: none;
  }
}

@media (max-width: 480px) {
  /*phone*/
  [class*="col-"] {
    width: 100%;
  }
  .col-sm-1 {
    width: var(--col-width);
  }
  .col-sm-2 {
    width: calc(var(--col-width) * 2);
  }
  .col-sm-3 {
    width: calc(var(--col-width) * 3);
  }
  .col-sm-4 {
    width: calc(var(--col-width) * 4);
  }
  .col-sm-5 {
    width: calc(var(--col-width) * 5);
  }
  .col-sm-6 {
    width: calc(var(--col-width) * 6);
  }

  .welcome {
    width: 480px;
    height: 533px;
    padding: 12px 16px 0 16px;
    min-height: 76vh;
  }

  .welcome__search {
    margin-top: 41px;
    height: 260px;
  }
  .welcome__menu--day-night svg {
    margin-left: 75px;
  }

  .welcome__menu--hamburger svg {
    display: block;
    width: 40px;
    height: 30px;
    margin-left: 30px;
    margin-top: 5px;
  }
  .welcome__search--form .second {
    display: flex;
    margin-left: 0;
    border: none;
  }

  .second .checkin,
  .second .checkout {
    width: 172px;
    height: 48px;
  }

  .second div:nth-child(2) {
    margin-left: 8px;
  }

  .welcome__search--form input {
    padding-left: 30px;
    border-radius: 8px;
  }

  .welcome__search--discover {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 41px;
    line-height: 35px;
    margin-bottom: 31px;
  }

  .welcome__search {
    height: 260px;
  }

  .welcome__search span {
    display: none;
  }

  .welcome__search--form .first {
    width: 390px;
    height: 48px;
    margin: 8px 8px 10px 8px;
  }

  .welcome__search--form .second {
    margin-left: 8px;
  }

  .welcome__search--form .third {
    width: 390px;
    height: 48px;
    margin: 8px 8px 8px 8px;
  }

  .welcome__search--form button {
    width: 428px;
    margin-left: 8px;
    margin-bottom: 8px;
  }

  .welcome__search--form {
    display: block;
    background-color: #f5bd41;
    width: 444px;
  }
  .welcome__download--android svg {
    width: 135px;
    height: 40px;
    margin-left: 83px;
  }

  .welcome__download--ios svg,
  .welcome__download--android svg {
    margin-top: 32px;
  }

  .welcome__menu--stays,
  .welcome__menu--attractions {
    display: none;
  }

  .offers__title {
    margin: 24px auto 0;
  }
  .offers__title--name {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
  }

  .offers__title--bar {
    display: none;
  }

  .offers__icons {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: 214px;
    height: 104px;
    margin: 32px 73px 0 73px;
  }

  .offers__icons:last-child {
    margin-bottom: 40px;
  }

  .offers__icons svg {
    aspect-ratio: 1.5/1;
    margin-bottom: 12px;
  }

  .offers__icons--name {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    text-align: center;
  }

  .container__mlogo svg {
    display: block;
    width: 98px;
    height: 19px;
  }

  .container__mlogo {
    width: 98px;
    height: 19px;
    padding-top: 41px;

    padding-left: calc((480px / 2) - (98px / 2));
  }

  .footer {
    height: 203px;
  }

  .container {
    width: 360px;
    display: flex;
    padding: 40px 67px;
  }

  .container li {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    text-align: center;
    text-decoration-line: underline;
  }

  .container__about,
  .container__about ul {
    width: 41px;
    height: 18px;
  }

  .container__about {
    margin-left: 60px;
  }

  .container__property,
  .container__property ul {
    width: 98px;
    height: 18px;
  }

  .container__property {
    margin-left: 25px;
  }

  .container__support,
  .container__support ul {
    width: 54px;
    height: 18px;
  }

  .container__support {
    margin-left: 16px;
  }

  .container__about--list li:not(.container__about--listheader),
  .container__property--list li:not(.container__property--listheader),
  .container__support--list li:not(.container__support--listheader) {
    display: none;
  }

  .container__rights {
    margin-left: 71px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    text-align: center;
  }
}
